/* Google Fonts Import */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Oswald:wght@200;300;400;500;600;700&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');


/* Asterisk wildcard selector to override default styles added by the browser */
* {
    /*-- Takes out white borders --*/
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles*/
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Lato', sans-serif;
}

h1,
h2,
h3 {
    font-family: 'PT Sans', sans-serif;
    font-size: 154%;
}

/* Header */
header {
    background-color: lightblue;
    padding: 6px;
    width: 100%;
    /* Allows for scrolling */
    position: fixed;
    z-index: 99;
    box-shadow: 10px 5px 5px lightgray;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

header a {
    text-decoration: none;
    /* inherit from body font */
    color: inherit;
}

#menu {
    list-style-type: none;
}

#menu>li {
    margin-bottom: 1em;
}

/* Shows which item we are selecting */
.active {
    cursor: grab;
    border-bottom: 1px solid black;
}

/* Navbar styles with dropdown toggle */
nav {
    /* Takes menu items out of header and negates h1 styling */
    position: absolute;
    background-color: lightblue;
    width: 100%;
    padding: 0 1rem;
    left: 0;
    box-shadow: 10px 5px 5px lightgray;
    display: none;
    /* Leaves title ontop of navbar 0% bottom of parent */
    top: 100%;
    text-align: right;

}

/* Nav toggle */
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
}


/* Main Content*/
main {
    /* Ensures header stays visible needs 75px on media query >768  */
    margin-top: 37px;
    display: flex;
    flex-direction: column;
    /* Main element takes up surplus space and pushes footer down (flex-grow: 1 flex-shrink: 0 flex-basis: auto) */
    flex: 1 1 auto;
}

/* Hero section*/
#hero {
    background: url("../images/home.jpg") no-repeat center center/cover;
    position: relative;
}

/* Measurements section */
#measurements {
    background: url("../images/measurements.jpg") no-repeat center center/cover;
    position: relative;
}

#cover-text {
    /*Final rgba value sets transparency*/
    background-color: rgba(193, 214, 161, .7);
    padding: 10px;
    color: white;
    position: absolute;
    top: 50px;
    width: 63%;
    min-height: 100px;
    padding-top: 10px;
    padding-left: 10px;
}

/* Freedom & Measurements Section */
#palette {
    background: url("../images/palette.jpg") no-repeat center center/cover;
    position: relative;
}

#info {
    width: 90%;
    margin: 20px auto;
}

#info h2 {
    padding-top: 10px;
    margin-bottom: 0px;
    text-align: center;
    font-size: 280%;
    background-color: rgb(255, 255, 255, .7)
}

#options {
    display: flex;
    flex-wrap: wrap;
}

#options div {
    background-color: rgb(255, 255, 255, .7);
    padding: 15px;
    text-align: center;
    border: 2px solid white;
    /* This will allow the screens to wrap in response to different screen sizes in a row */
    flex-basis: 200px;
    flex-grow: 1;
}

#sign-up {
    background: url("../images/sign-up.jpg") no-repeat center center/cover;
    background-size: cover;
    background-position: 75%;
    padding: 20px 10% 20px 10%;
    flex-grow: 1;
}

#signup-form {
    /* color: ffffff */
    background-color: rgb(255, 255, 255, .6);
    padding: 30px;
}

.text-input {
    background-color: transparent;
    color: slategray;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid black;
    border-radius: 2px;
    padding: 0 5px;
}

.join-button {
    margin-top: 10px;
    border-radius: 2px;
    padding: 10px 15px;
    font-size: 100%;
    background-color: lightgray;
    color: black;
}

.join-button hover {
    background-color: black;
    color: red;
}

/* Footer */
/*This footer section below was deleted in the tutorial and replaced by the social network id*/
footer {
    background-color: lightblue;
    box-shadow: 10px -5px 5px lightgray;
    /*Optional*/
}

#social-networks {
    display: flex;
    text-align: center;
    padding: 10px 0;
    justify-content: space-evenly;
    list-style-type: none;
}

#social-networks i {
    font-size: 180%;
    padding: 4%;
    color: black;
}

/* Media query: large or landscape phones (576px and up)
@media screen and (min-width: 576px) {
Fix hover and take out red line 
nav a {
    text-decoration: none;
    color: black;
    padding: 0 1rem;
} 

menu a hover {
    cursor: grab;
}
}*/

/* Media query: tablets and larger (768px and up) */
@media screen and (min-width: 768px) {

    /* Header */
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
    }

    #menu {
        display: flex;
    }

    #menu>li {
        padding-left: 1rem;
    }

    .nav-toggle-label {
        display: none;
    }

    #logo {
        font-size: 300%;
        line-height: 70px;
        margin: 0 0rem;
        /*margin: 0 0rem;*/
    }

    /* Main Content */
    main {
        /* Push main content to accomodate larger header*/
        margin-top: 75px;
    }

    /* Hero */
    #cover-text {
        width: 50%;
        font-size:x-large;
        padding:10px;
        right: 50px;
        display: flex;
        flex-wrap: wrap;
        align-content: center;
    }

    /* Sign Up Section */
    #signup {
        background-position: center;
        position: relative;
    }

    #signup-form {
        max-width: 400px;
        position: absolute;
        left: 10%;
        top: 150px;
    }

    .text-input:hover {
        border-color: green;
    }

    .join-button:hover {
        background-color: green;
        color: darkgrey;
    }
}


/* Media query: laptops and larger (992x and up*/
@media screen and (min-width: 992px) {
    #menu a:hover {
        cursor: grab;
    }

    #reasons {
        height: 200px;
        /* own fix to center reasons*/
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}