/* Google Fonts Import */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Oswald:wght@200;300;400;500;600;700&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');


/* Asterisk wildcard selector to override default styles added by the browser */
* {
    /*-- Takes out white borders --*/
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles*/
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /*Generic project styles*/
    color: dark green;
    font-family: 'Lato', sans-serif;
    /*font-family: 'Oswald', sans-serif;
    font-family: 'PT Sans', sans-serif;*/
}

/* Header */
header {
    background-color: lightblue;
    padding: 0 1rem;
    width: 100%;/*FILLS WIDTH OF THE SCREEN*/
    position: fixed;/*Allows for scrolling*/
    z-index: 99;/*INVESTIGATE AND GIVE FEEDBACK*/
    box-shadow: 10px 5px 5px lightgray;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

header a {
    text-decoration: none;
    /*inherit from body font*/
    color: inherit;
}

h1 {
    /*font-family: 'Lato', sans-serif;*/
    /* font-family: 'Oswald', sans-serif;*/
    font-family: 'PT Sans', sans-serif;
    font-size: 160%;/*made this myself - check afterwards*/
    /*LEFT OUT UPPERCASE AND LETTER SPACING AND SPECIAL FONT COLOR MAKING IT STAND OUT FROM NAV ITEMS - FROM TUTORIAL*/
}

#menu{
    list-style-type: none;/*LEFT OUT LETTERSPACING: 4PX AND FONT-SIZE: 110%*/
}

#menu > li {
    margin-bottom: 1em;/*can we do this another way??*/
}

/*Shows which item we are selecting*/
.active {
    border-bottom: 1px solid darkblue;
}

/* Navbar styles with dropdown toggle */
nav {
    position:absolute; /*takes menu items out of header and negates h1 styling*/
    background-color: lightblue;
    width: 90%;/*put my own measurement should be 100%*/
    padding: 0 1rem;
    /*left: 0;*/
    box-shadow: 10px 5px 5px lightgray;
    display: none;
    top:100%; /*Leaves title ontop of navbar 0% bottom of parent*/
}

/* Nav toggle */
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
}

/* Main Content*/
main {
    background-color: white;
    /* Main element takes up surplus space and pushes footer down (flex-grow: 1 flex-shrink: 0 flex-basis: auto) */
    flex: 1 0 auto;
    margin-top: 47px; /*pushes the content below the header*/

}

/* Footer */
footer {
    background-color: lightblue;
    box-shadow: 10px -5px 5px lightgray; /*Optional*/
}

#social-networks{
    display: flex;
    text-align: center;
    padding: 20px 0;
    justify-content: space-evenly;
    list-style-type: none;
}

/* Media query: tablets and larger (768px and up*/
@media screen and (min-width:768px) {
    nav{
        display: block;
        position: relative;
        /*box-shadow: none;*/
        width: fit-content;
        padding-right: 1 rem;
    } 
    #menu {
        display: flex;
    }     
    #menu > li {
        padding-left: 1rem;
    }   
    .nav-toggle-label {
        display: none;
    }
    #logo {
        font-size: 300%;
        line-height: 70px;
        margin: 5 5rem;/*margin: 0 0rem;*/
    }
    /* Main Content */
    main {
        /* Push main content to accomodate lareger header*/
        margin-top: 75px;
    }
}
/* Media query: laptops and larger (992x and up*/
@media screen and (min-width: 992px) {
    #menu a:hover {
        border-bottom: 1px solid red;
        /*color: red; MY OTHER ITEMS ARE NOT LIVE LIKE THE TUTORIAL SAID THEY SHOULD BE*/
    }